<div class="d-flex align-items-center">
  <h1 class="mr-3"><%= @cocktail.name %></h1>
  <%= link_to edit_cocktail_path(@cocktail) do %>
    <i class="fas fa-pencil-alt mr-3"></i>
  <% end %>
  <%= link_to cocktail_path(@cocktail),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, height: 240, width: 350, crop: :fill, class: 'radius-16' %>
    <% else %>
      <div class="cocktail-card-color-square radius-16"></div>
    <% end %>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <h4 class="mb-4">Ingredients:</h4>
    <% if !@cocktail.doses.empty? %>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.ingredient.name %> | <%= dose.description %>
            <%= link_to cocktail_dose_path(@cocktail, dose),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash-alt ml-3"></i><% end %></li>
        <% end %>
      </ul>
    <% else %>
      <p><em>Add the first ingredient !</em></p>
    <% end %>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <h4 class="mb-4">Add ingredients</h4>
    <%= render "./doses/dose_form", cocktail: @cocktail, dose: @dose %>
  </div>
</div>

